<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiuady.android.compustore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoriesActivity" />
        <activity
            android:name=".ProductosActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".client"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AssembliesActivity" />
        <activity
            android:name=".AddAssemblyActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".orders"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ReportesActivity" />
        <activity
            android:name=".AddNewProductActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_new_product"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".add_order" />
        <activity android:name=".addassembly_orderassemblies" />
        <activity android:name=".modify_order" />
        <activity android:name=".MissingStockActivity" />
        <activity android:name=".SalesActivity" />
        <activity android:name=".SalesOrdersActivity" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".Missing_Products_OrdersActivity" />
        <activity android:name=".Assemblies_OrderActivity"></activity>
    </application>

</manifest>